# database
DBTYPE=postgres
PGUSER=
PGHOST=
PGPASSWORD=
PGDATABASE=
PGPORT=

# typeorm
DATABASE_ENTITIES=./src/modules/**/infra/typeorm/entities/*.ts
DATABASE_MIGRATIONS=./src/shared/infra/typeorm/migrations/*.ts
DATABASE_MIGRATIONS_DIR=./src/shared/infra/typeorm/migrations